<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medcords.mhcpanel">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCO7-k9_v6yIk0dA7YwVUza__LVt1FXW0M" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activities.AgentLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activities.AgentSignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="Medcords"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBarDarkHint" />
        <activity
            android:name=".activities.PatientSignupActivity"
            android:label="Add User"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDarkHint" />
        <activity android:name=".activities.PatientListActivity" />
        <activity android:name=".activities.PatientActionsActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".activities.CameraActivity"
            android:label="Medcords"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activities.UploadRecordsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDarkHint" />
        <activity android:name=".activities.ImagePreviewActivity"
            android:label="Medcords"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar"/>
    </application>

</manifest>